@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Select your park</h2>
    @foreach (var park in Model)
    <div class="listDisplay">
        <div class="listPicture">
            <a href=" picture details here"
        </div>
    
    </div>
</body>
</html>
