

body {
    margin: 0px;
    padding: 0px;
    background-color: #d6d6d6;
    font-family: Verdana;
    color: black;
}


/*-----Header----*/
h2 {
    color: #0D254C;
}

.mainContainer {
    max-width: 1960px;
    width: 96%;
    margin: auto;
}

header {
    background: #0D254C;
    margin-bottom: 20px;
    overflow: hidden;
}

.logo {
    float: left;
    margin-top: 10px;
    max-height: 110px;
}

nav {
    float: right;
    line-height: 70px;
}

    nav li {
        display: inline-block;
        padding: 5px 20px;
        margin-left: 10px;
        background: red;
        line-height: normal;
        border-radius: 8px;
    }

header img {
    height: 110px;
}
/*-----Section Layout-----*/

#main-content {
    max-width: 1960px;
    width: 96%;
    margin: auto;
    text-align: center;
}

.listContainer {
    display: flex;
    width: 96%;
    padding: 1%;
    border: 5px solid green;
}

.imageDiv {
    display: inline-block;
    border: 5px solid red;
}

.listText {
    display: inline-block;
    padding: 40px;
    width: auto;
    text-align: center;
    background-color: antiquewhite;
    border-radius:8px;
}
.parkDescription{
    padding: 40px;
    width: auto;
    text-align: center;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 8px;
}
.parkDetailContainer{
    display: inline;
    width: auto;
}
.parkDetailImage{
    display: inline-block;
    padding: 40px;
    margin: auto;
    border: 5px solid orange;
}

.pageTitle {
    color: #0D254C;
}

.quote {
    display: inline-block;
    background-color: #EDC9AF;
    padding: 15px;
    max-width: 50%;
    width: 400px;
    border-radius: 8px;
    font-size: 16px;
}

.weatherContainer {
    display: flex;
    width: 96%;
    border: 5px solid green;
    justify-content: center;
    margin: auto;
}

.weatherInfo {
    display: inline-block;
    width: 19%;
    border: 5px solid cyan;
}

#weatherPicture {
    max-width: 100%;
    border: 5px solid red;
    margin: auto;
}



#weatherDetails {
    margin: auto;
    text-align: center;
    font-family: Verdana;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid salmon;
}


