

body {
    margin: 0px;
    padding: 0px;
    background-color: #fff8d0;
    font-family: Verdana;
    color: #623905;
}


/*-----Header----*/
/*h2 {
    color: #0D254C;
}*/

.mainContainer {
    max-width: 1960px;
    width: 96%;
    margin: auto;
}

header {
    background: #ffdaa8;
    margin-bottom: 20px;
    overflow: hidden;
    border-bottom: 5px solid #aa7328;
}

.logo {
    float: left;
    margin-top: 10px;
    max-height: 110px;
}

nav {
    float: right;
    line-height: 70px;
}

    nav li {
        display: inline-block;
        padding: 5px 20px;
        margin-left: 10px;
        background: #ccbf4a;
        line-height: normal;
        border-radius: 8px;
        border: solid 2px #616389;
    }

header img {
    height: 110px;
}
/*-----Section Layout-----*/

#main-content {
    max-width: 1960px;
    width: 96%;
    margin: auto;
    text-align: center;
}

.listContainer {
    display: flex;
    width: 96%;
    padding: 1%;
    /*border: 5px solid green;*/
}

.imageDiv {
    display: inline-block;
    /*border: 5px solid red;*/
    padding: 10px 5px 7px 5px;
}

.listText {
    display: inline-block;
    padding: 40px;
    max-width: 200px;
    width: auto;
    text-align: center;
    background-color: #ccbf4a;
    border-radius: 8px;
    font-family: Calibri;
    color: #623905;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #aa7328, rgba(0, 0, 0, 0));
}

.parkDescription {
    padding: 40px;
    width: auto;
    text-align: center;
    background-color: #ffdaa8;
    margin: 10px;
    border-radius: 8px;
    font-family: Calibri;
    color: #623905;
    /*border: 5px solid;*/
}

.parkDetailContainer {
    display: inline;
    width: auto;
}

.parkDetailImage {
    display: inline-block;
    padding: 40px;
    margin: auto;
    padding-left: 200px;
    /*border: 5px solid orange;*/
}

.parkNameState {
    display: inline-block;
    text-align: center;
    font-family: Calibri;
    font-size: 24px;
    color: #623905;
    /*border: 5px solid blue;*/
    margin: auto;
}

.quoteNameContainer {
    display: inline;
    padding: 50px;
    /*border: 5px solid brown;*/
}

.pageTitle {
    color: #623905;
}

.quote {
    background-color: #623905;
    padding: 15px;
    max-width: 50%;
    width: auto;
    border-radius: 8px;
    font-size: 16px;
    color: #FFF4E5;
    height: auto;
    margin: auto;
}


/*----Weather----*/
.weatherContainer {
    display: flex;
    width: 96%;
    /*border: 5px solid green;*/
    justify-content: center;
    margin: auto;
}

.weatherInfo {
    display: inline-block;
    width: 20%;
    margin: 5px;
    /*border: 5px solid cyan;*/
}

#weatherPicture {
    max-width: 100%;
    background: #fff;
    border-bottom: 5px solid #aa7328;
    border-radius: 8px;
    margin: auto;
}



#weatherDetails {
    margin: auto;
    text-align: center;
    font-family: Calibri;
    padding: 10px;
    background-color:#ccbf4a;
    border-radius: 8px;
    font-weight: bold;
    border-bottom: 5px solid #aa7328;
}
button{
            display: inline-block;
        padding: 7px 20px;
        margin-top: 20px;
        margin-left: 10px;
        background: #ccbf4a;
        line-height: normal;
        border-radius: 8px;
        border: solid 2px #616389;
}

/*----Survey----*/
.surveyContainer{
    max-width: 1960px;
    width: 30%;
    margin: auto;
    border-bottom: 5px solid #aa7328;
    border-radius: 8px;
    border-top: 5px solid #ffebd0;
    /*overflow: hidden;*/
}
#surveyInnerBox{
    /*border: 5px solid cyan;*/
    padding: 10px;
       background-color:#ffebd0;

}

