h1{
    text-align: center;
}

body {
}


.listContainer {
    display: flex;
    width: 98%;
    padding: 1%;
    border: 5px solid blue;
}

.imageDiv {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    border: 5px solid red;
}

.listText {
    display: inline-block;
    padding: 40px;
    width: auto;
}

h2 {
    text-align: center;
}

.imgDetail {
    display: inline-block;
    align-items: flex-start;
}

.listDetail {
    display: flex;
    margin-top: 2% ;
    width: 80%;
    height: 20%;
}

.detailText {
    display: inline-block;
    align-items:flex-start;
    padding-left: 40px;
    width: auto;
}

h3{
    text-align:center;
}

h4{
    text-align:center;
}

.weatherContainer{
    display: flex;
    width: 96%;
    border: 5px solid green;
    justify-content:center;
    margin: auto;
}
.weatherInfo{
    display: inline-block;
    max-width: 19%;
    border: 5px solid cyan;
    
}

#weatherPicture{
    width: 70%;
    border: 5px solid red;
    margin: auto;
}



#weatherDetails{
    margin: auto;
    text-align: center;
    font-family: Verdana;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid salmon;
}

.logo{
    max-width: 25%;
}
#dropDownListTitle{
    text-align:left;
}