@using Capstone.Web.Models;
@model List<ParksModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h2 class="pageTitle">Select a park</h2>

    @foreach (ParksModel park in Model)
    {
        <div class="listContainer">
            <div class="imageDiv">
                <a href="~/Parks/ParkDetail/@park.ParkCode">
                    <img src="~/Content/img/parks/@(park.ParkCode).jpg" />
                </a>
            </div>
            <div class="parkDescription">
                <a href="~/Parks/ParkDetail/@park.ParkCode" style="text-decoration: none;" >
                    <h2 class="pageTitle">@park.ParkName </h2>
                </a>
                <h4>@park.State</h4>
                <p> <em>@park.ParkDescription</em></p>
            </div>
        </div>
        <hr />
    }
</section>
