@using Capstone.Web.Models
@model Dictionary<string, int>

@{
    ViewBag.Title = "SurveyResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Survey Results</h2>
<div class="resultContainer">
    <table class="resultBox">
            <thead id="tableHead">
                <tr>
                    <td id="tableHead">Park Name</td>
                    <td id="tableHead">Number of Votes</td>
                </tr>
            </thead>
            @foreach (KeyValuePair<string, int> kvp in Model)
            {
                <tr id="tableRows">
                    <td>@kvp.Key</td>
                    <td>@kvp.Value</td>
                </tr>
            }
    </table>
</div>