@using Capstone.Web.Models
@model Dictionary<string, int>

@{
    ViewBag.Title = "SurveyResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SurveyResults</h2>
<table>
    <thead>
        <tr>
            <td>Park Name</td>
            <td>Number of Votes</td>
        </tr>
    </thead>
    @foreach (KeyValuePair<string, int> kvp in Model)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>@kvp.Value</td>
        </tr>
    }

</table>

