@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tile</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
</head>
<body>

    <header>
        <h1>National Parks Weather Service</h1>
    </header>
    <nav>
       

    </nav>
    <section id="main-content">

        @RenderBody()

    </section>

</body>
</html>
